<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>テストページ</title>
  </head>
  <body>
    <table>
      <tr>
        <th>名前</th>
        <th>ステータス</th>
      </tr>
      <tr>
        <td>aaaaaaßßå</td>
        <td>
          <div class="text-center">
            {% for obj in object_list %}
            <img
              src="/media_local/{{obj.img}}"
              width="100"
              height="50"
              class="border_radius"
            />
            {% endfor %}
          </div>
        </td>
      </tr>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>

  <style>
    .border_radius {
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
    }
  </style>
</html>
