{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
{% load widget_tweaks %}

<div class="pt-4"></div>
    <form action="{% url 'back:login' %}" method="POST">
    {% csrf_token %}
        
        <div class="pt-5">{{ form.as_p }}</div>
        <div class="col-4"><p><input type="submit" value="ログイン"></p></div>
        
    </form>
    <p>新規登録は<a href="{% url 'back:register' %}">こちら</a></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{% endblock %}