{% extends "base.html" %}
{% block title %}コメント{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'back:list' %}">ユーザー一覧</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'back:roomlist' %}">スレッド一覧</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'back:logout' %}">ログアウト</a></li>
            </ul>
        </div>
    </div>
</nav>

<tr>
    <td>{{ thread.name }}</td>
</tr>

<table class="comment_container">
    <tr>
        <td>{{ thread.user }}</td>
        <td>{{ thread.created_date }}</td>
    </tr>
    <tr>
        <td>{{ thread.roomname }}</td>
    </tr>
    <!-- <tr>
                <td>{{ thread.content | linebreaks | urlize }}</td>
            </tr> -->
</table>

{% for comment in comments %}
<table class="comment_container">
    <tr>
        <td>{{ comment.name }}</td>
        <td>{{ comment.create_date }}</td>
    </tr>
    <tr>
        <td>{{ comment.contest | linebreaks | urlize }}</td>
    </tr>
</table>
{% endfor %}

<form method="post" action="{% url 'back:message_add' %}">{% csrf_token %}
    <!-- <input type="hidden" value="{{ thread.id }}" name="thread_id"> -->
    <input value="{{ thread.id }}" name="thread_id">
    <table class="comment_container">
        <tr>
            <td class="comment_username">{{ user.name }}</td>
        </tr>
        <tr>
            <td>{{ form.contest }}</td>
        </tr>
        <tr>
            <td><button type="submit" class="positive_button">create</button></td>
        </tr>
    </table>
</form>
{% endblock %}